html,
body {
  font-family: 'Concert One', cursive;
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  position: relative;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  color: #fff;
  background-image: url("https://images.unsplash.com/photo-1562571046-d34f606e7693?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
  background-size: cover;
  background-position: top -120px right 0px;
}

h1 {
  padding: 48px 0 36px;
  font-size: 48px;
}

.counter {
  font-size: 84px;
}

.cat {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 600px;
  width: 500px;
  background-image: url("https://popcat.click/img/p.1e9d00be.png");
  background-size: auto 100%;
  background-position: top 0px right 4px;
}

.cat-on {
  background-image: url("https://popcat.click/img/op.353767c3.png");
}